body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url("img/bg.png");
    background-attachment: fixed;
}

#tint {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

h1 {
    color: #333;
}

#status {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    color: white
}

.nameInput {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 220px;
    margin-bottom: 10px;
}

#roomInput {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 220px;
    margin-bottom: 10px;
}

#maxRoomParticipants {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 220px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 220px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#joinButton {
    background-color: #28a745;
    color: white;
    border: none;
}

#joinButton:hover {
    background-color: #218838;
}

#createRoomButton {
    background-color: #ff2600;
    color: white;
    border: none;
    margin-bottom: 10px;
}


#createRoomButton:hover {
    background-color: #9c0000;
}

#leaveButton {
    background-color: #dc3545;
    color: white;
    border: none;
    display: flex;
}

#leaveButton:hover {
    background-color: #c82333;
}

#participantList {
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#participants>div {
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

#errorMessage {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

audio {
    position: absolute;
    bottom: 70px;
}